* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Source Code Pro", monospace;
}

body {
  position: relative;
}

.title {
  margin-top: 20px;
  text-align: center;
  font-size: 2.5rem;
}

.calculator {
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  height: 75vh;
  width: 90vw;
  background-image: linear-gradient(to top, #df89b5 0%, #bfd9fe 100%);
  border-radius: 20px;
}

.screen {
  width: 80%;
  height: 20%;
  margin: 20px auto;
  padding-right: 10px;
  color: white;
  font-size: 3.5rem;
  background-color: #000;
  text-align: right;
  line-height: 2.4;
}

.noSolution {
  padding-right: 0;
  line-height: 4;
  text-align: center;
  font-size: 2rem;
}

.twoSolutions {
  font-size: 2.5rem;
  line-height: 3.2;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  column-gap: 5px;
  row-gap: 5px;
  justify-items: center;
  align-items: center;
  height: 50vh;
  width: 90%;
  margin: 0 auto;
  font-size: 1.8rem;
}

.reset {
  font-size: 1.6rem;
  text-transform: uppercase;
}

.button {
  display: block;
  width: 90%;
  height: 90%;
  border: 2px solid white;
  border-radius: 7px;
  box-shadow: 0 0 3px 1px #eee;
  text-align: center;
  line-height: 2;
  cursor: pointer;
}

.button:active {
  background-color: white;
}

.fraction {
  font-size: 1.5rem;
}

.power-number {
  font-size: 1.2rem;
}
